<section class="sheet-section derived">
  <h2>Generated Attributes</h2>

  <div class="sheet-section-content odam-grid two">
    <div class="stat-box">
      <label>
        Health
        <input type="number" value="{{system.derived.health}}" disabled />
      </label>
    </div>

    <div class="stat-box">
      <label>
        Stamina
        <input type="number" value="{{system.derived.stamina}}" disabled />
      </label>
    </div>

    <div class="stat-box">
      <label>
        Reaction
        <input type="number" value="{{system.derived.reaction}}" disabled />
      </label>
    </div>

    <div class="stat-box">
      <label>
        Shaping
        <input type="number" value="{{system.derived.shaping}}" disabled />
      </label>
    </div>
  </div>
</section>