<section class="details">
  <h2>Details</h2>

  <label>
    Concept

    <input
      type="text"
      name="system.details.concept"
      value="{{system.details.concept}}"
    />
  </label>

  <label>
    Calling

    <input
      type="text"
      name="system.details.calling"
      value="{{system.details.calling}}"
    />
  </label>

  <label>
    Faction

    <input
      type="text"
      name="system.details.faction"
      value="{{system.details.faction}}"
    />
  </label>
</section>