<section class="sheet-section details">
  <h2>Details</h2>

  <div class="sheet-section-content odam-grid three">
    <div class="field-box">
      <label>
        Concept
        <input type="text" name="system.details.concept" value="{{system.details.concept}}" />
      </label>
    </div>

    <div class="field-box">
      <label>
        Calling
        <input type="text" name="system.details.calling" value="{{system.details.calling}}" />
      </label>
    </div>

    <div class="field-box">
      <label>
        Faction
        <input type="text" name="system.details.faction" value="{{system.details.faction}}" />
      </label>
    </div>
  </div>
</section>