<form class="odam-sheet-body">

  <header class="sheet-header">
    <h1>{{actor.name}}</h1>
  </header>

  {{> "systems/odam/templates/actor/parts/details.hbs"}}

  {{> "systems/odam/templates/actor/parts/attributes.hbs"}}

  {{> "systems/odam/templates/actor/parts/derived.hbs"}}

  {{> "systems/odam/templates/actor/parts/pools.hbs"}}

</form>